
<div class="row">
  <div class="large-4 columns">
    <input id="name" type="text" placeholder="Name" />
  </div>

  <div class="large-4 columns">
    <select id="amount">
      <option>$1,000 CAD</option>
      <option>$1,000 USD</option>
      <option>$1,500 AUD</option>
    </select>
  </div>

  <div class="large-4 columns">
    <a class="button" data-action="buy" href="#">Buy Now</a>
  </div>
</div>

<ul id="sales" class="pricing-table">
  <li class="title">Model 3 Sales</li>
  <li class="price">$<span id="total"><%= @total %></span></li>
  <% @sales.each do |sale| %>
    <li class="bullet-item"><%= sale.name + " - $" + sale.amount.to_s %></li>
  <% end %>
</ul>
